tr.detail-row {
   height: 0;
 }

 tr.element-row:not(.expanded-row):hover {
   background: #f1f9fe;
 }

 tr.element-row:not(.expanded-row):active {
   background: #efefef;
 }

 .element-detail {
   overflow: hidden;
   display: flex;
 }

 .inner-table {
   width: 100%;
 }

 .mat-column-Amount {
   text-align: right;
   justify-content: flex-end;
 }

 .mat-column-TransactionId {
   text-align: center;
 }

 .mat-column-total {
   text-align: right;
   justify-content: flex-end;
 }
 
 .mat-row:nth-child(even) {
   background-color: #F1FAFE;
 }

 .mat-row:nth-child(odd) {
   background-color: white;
 }

 ::placeholder{
  color: white;
 }

