@import "~bootstrap/dist/css/bootstrap.css";

.error{
    color: red;
}

.margin-25{
    margin-left: 20px;
    margin-right: 20px;
}

.card-color{
    background-color: #F1FAFE;
}

.font-size-input{
    font-size: 0.75rem;
}
.button-color{
    background-color: #1BC5BD;
    color: white;
  }

.nav-spacer {
  flex: 1 1 auto;
}

.button-margin{
  margin: 5px;
}

.no-report-msg{
  width: 26%;
  margin: auto;
}

.no-report-margin{
margin-top: 145px;
}

.chart-width{
  width: 45%;
}

.table-width{
  width: 55%;
}

button:disabled{
  color: lightgray;
 }

 
 .card-container {
  height: 438px;
  overflow: auto;
}

.total-container-footer {
  height: auto;
  width: 100%;
  overflow: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

table {
  width: 100%;
}

button.calendar,
button.calendar:active {
  width: 2.75rem;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
}

.datepicker-width{
  width: 140px;
}




